body{

 background-image: url(../nathanDem-Thanushan_Tp3_Web/2022-morbius-b0.jpg);
background-size: cover;
background-size: 100%;

}

#root{
    color: greenyellow;

    
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
    1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
    border-width: 10px;
    border-color: black;
    font-family: sans-serif;
   
    
       } 