body{

    background-image: url(../nathanDem-Thanushan_Tp3_Web/abstract-stripes-golden-lines-diagonal-overlap-on-black-background-luxury-stryle-free-vector.jpg);
   background-size: cover;
   background-size: 100%;
   
   }
   
  
   
    